<%- include("header") -%>

    <h1><%= ListTitle %></h1>

    <!-- <h3>Here is sorting for demanded jobs</h3> -->

        <!-- <li>Full Stack Developer</li>
        <li>Robotics Engineer</li>
        <li>Embedded Systems Engineer</li>
        <li>database administrator</li>
        <li><%=NewListItem %></li> -->
    <ul>
        <% for (var i=0; i<NewListItem.length; i++){ %>
        <li> <%= NewListItem[i] %></li>
        <% } %>
    </ul>

    <form action="/" method="post">
        <input type="text" name="newItem" placeholder="profession" autocomplete="off">
        <button type="submit" name="list" value="<%= ListTitle %>"> addItem </button>
    </form>
    <br>

<%- include("footer") -%>